<ul class="easyui-tree">
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareAddDomain">添加域名</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareListDomainRecord">列出域名记录</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareDeleteDomainRecord">删除域名记录</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareAddDomainRecord">添加域名记录</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareListDomainRateLimits">列出RateLimits</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareAddDomainRateLimits">添加RateLimits</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareDeleteDomainRateLimits">删除RateLimits</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareListDomainWAFRules">列出WAF规则</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareAddDomainWAFRules">添加WAF规则</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareDeleteDomainWAFRules">删除WAF规则</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareGetDomainNameServer">查询NameServer</a>
    </li>
    <li>
        <a href="#" style="text-decoration: none;" title="cloudflareFlushDomainCache">清空CDN缓存</a>
    </li>


</ul>
<!--关联菜单和tab内容得js脚本-->
{% include "web/common/js/associationMenuToTab.html" %}