<style type="text/css">
        input {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            border:1px solid #ccc;
            font-size:20px;
            width:300px;
            min-height:30px;
            display:block;
            margin-bottom:15px;
            margin-top:5px;
            outline: none;
            webkit-border-radius:5px;
            border-radius:5px; }
        input[type=submit] {
            background:LightSkyBlue ;
            padding:10px;
        }
</style>